body {
  background-color: #111111;
  font: Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height:100%;
}
.header {
  color: white;
  text-align: center;
}
.header ul {
  display: inline;
  list-style-type: none;
}
.main {
  color: white;
  text-align:center;
}
.footer
{
  color: white;
  text-align: center;
}

a {
  text-decoration: none; 
  color: #ffa500;
   margin: 0 0 5px 0;
}
a:hover {
  color: #ee7500;
}

.selected {
  text-decoration: underline;
}

