body {
  background-color: #EEEEEE;
  font: Helvetica, Arial, sans-serif;
}
#container {
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  background-color: #66CCFF;
  color: white;
  text-align: center;
  padding: 10px;
}
#content {
  padding: 10px 10px 10px 10px;
}
#navigation {
  width: 100px; 
  float: left;
}
#main {
  width: 800px;
  float: right;
}
#footer
{
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.selected
{
  font-weight: bold;
}

a {
  text-decoration: none; 
  color: orange;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

h1 h2 h3 {
  margin: 0;
}
